@import "tailwindcss";

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh04Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh05Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh06Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-yekan: 'Yekan Bakh', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --primary-black: #070707;
  --primary-gray: #828282;
}

@theme inline {
  --font-yekan: var(--font-yekan);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-black: var(--primary-black);
  --color-primary-gray: var(--primary-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .app-container {
    @apply w-full mx-auto px-6 sm:px-10 md:px-16 lg:px-24 xl:px-32 max-w-[1440px];
  }
}